@use "assets/styles/media";

.location {
  margin-top: var(--indent-5xl);

  &__inner {
    margin-top: var(--indent-l);
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 33%;

    @include media.media-breakpoint-down(xl) {
      width: 40vw;
    }

    @include media.media-breakpoint-down(md) {
      width: 60vw;
    }

    @include media.media-breakpoint-down(sm) {
      width: 92vw;
    }
  }

  &__title {
    margin-bottom: var(--indent-2xl);
  }

  &__calendar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid var(--color-light-gray);
    border-radius: 13px;
    padding: var(--indent-l);

    &-title {
      font-size: var(--font-size-m);
      font-weight: var(--font-weight-semi-bold);
    }

    &-item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;

      @include media.media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__input-link {
    font-weight: var(--font-weight-semi-bold);
  }

  &__btn {
    margin-bottom: var(--indent-l);
    width: fit-content;
    padding: var(--indent-l) 48px;
  }

  &__categories {
    display: flex;
    flex-direction: column;

    &-title {
      margin-bottom: var(--indent-s);

      font-size: var(--font-size-m);
      font-weight: var(--font-weight-medium);
    }

    &-list {
      height: 50px;
      border: 1px solid var(--color-light-gray);
      border-radius: 12px;
    }
  }
}
