:root {
  --font-size-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 36px;
  --font-size-xl: 48px;
  --font-size-2xl: 68px;
  --font-size-3xl: 80px;

  --font-weight-medium: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-boldest: 800;

  --font-open-sans: 'Open sans', sans-serif;
}